@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap');
*{
margin: 0;
padding: 0;
box-sizing: border-box ;
}

.header{
width: 100%;
height: 100vh;
background-color: #9eabe4;
background-image: linear-gradient(315deg, #9eabe4 0%, #77eed8 74%);

position: relative;
font-family: 'Mulish', sans-serif;
}

.header-section{
width: 100%;
height: inherit;
text-align: center;
position: relative;
}

.center-div{
width: 100%;
height: auto;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
-ms-transform: translate(-50%,-50%);
-webkit-transform: translate(-50%,-50%);
}

p{
font-size: 1rem;
line-height: 1.9;
font-weight: 600;
}

.header-button a{
border: 1.5px solid darkslategrey;
border-radius: 10px;
margin: 0 5px;
padding: 10px 30px;
color: black;
font-weight: 600;
font-size: 1.1rem;
transition: .5s ease;
}

.header-button a:hover{
text-decoration: none;
background-color: black;
color: white;
}

.center-div p{
font-size: 1.3rem;
padding: 10px 0 20px 0;
color: rgba(0,0,0,0.6);
text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
0px -5px 35px rgba(255,255,255,0.3);
cursor: pointer;
}
.center-div h1{
    font-size: 45px;
    font-weight: 700;
    letter-spacing: 15px;
    cursor: pointer;
    margin-bottom: 15px;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
    0px 8px 13px rgba(0,0,0,0.1),
    0px 18px 23px rgba(0,0,0,0.1);
    transition: .2s ease;
}

.center-div h1:hover{
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}